<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name2.0"
        android:supportsRtl="true"
        android:theme="@style/Theme.Animals_plate"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".recordCheckActivity"
            android:exported="false" />
        <activity
            android:name=".BlogWriteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BlogActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".toolbar_home.toolbar_homeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Bottom_sheetActivity"
            android:exported="false" />
        <activity
            android:name=".backpack.BackpackActivity"
            android:exported="false" />
        <activity
            android:name=".InfoActivity"
            android:exported="false" />
        <activity
            android:name=".othersfunctionActivity"
            android:exported="false" />
        <activity
            android:name=".ChatActivity"
            android:exported="false" />
        <activity
            android:name=".apiTestActivity"
            android:exported="false" />
        <activity
            android:name=".Mapshow_animal_Activity"
            android:exported="false" />
        <activity
            android:name=".testsqlActivity"
            android:exported="false" />
        <activity
            android:name=".IntroScreenActivity"
            android:exported="false" />
        <activity
            android:name=".shopanimalsActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".otpActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".otpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapanimalActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".Maps_animalActivity"
            android:exported="false"
            android:label="@string/title_activity_maps_animal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HomeActivity5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProgessActivity4"
            android:exported="false" />
        <activity
            android:name=".SignActivity3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".serviceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>